/* CSS UNTUK PRINT AREA */
@media print {
    body * {
        visibility: hidden;
    }

    #print-area,
    #print-area * {
        visibility: visible;
    }

    #print-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    button,
    form,
    a.btn,
    select {
        display: none !important;
    }
}
