.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    p {
        padding: 10px;
        background-color: rgb(35, 31, 44);
        color: white;
        span {
            background-color: rgb(250, 182, 182);
            color: black;
            padding: 0 10px;
            font-weight: bold;
        }
    }
}