name: Deployment Workflow
on:
  push: 
    branches: ['main']  
      

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup SSH
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SSH_KNOWN_HOSTS: ${{ secrets.SSH_KNOWN_HOSTS }}
        run: |
          mkdir -p ~/.ssh
          echo "${SSH_PRIVATE_KEY}" > ~/sshkey
          chmod 600 ~/sshkey
          echo "${SSH_KNOWN_HOSTS}" > ~/.ssh/known_hosts
          

      - name: Run deployment commands
        env:
          SSH_HOST: ${{ secrets.SSH_HOST }}
          SSH_USERNAME : ${{ secrets.SSH_USERNAME }}
        run: |
          ssh -i ~/sshkey ${SSH_USERNAME}@${SSH_HOST} "
            echo 'Koneksi berhasil!'
            cd apps/paw_studycase
            git pull
          "